:host {
    .info-window {
        position: absolute;
        bottom: 24px;
        right: 60px;
        border-radius: 4px;
        background-color: #FFFFFF;
        padding: 10px;
        box-shadow: rgb(0 0 0 / 30%) 0px 1px 4px -1px;
        p {
            margin: 0 0 16px 0
        }
        p:last-child {
            margin-bottom: 0;
        }
        .title {
            font-weight: 700;
        }
    }
    .spinner {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        .lds-dual-ring {
            display: inline-block;
            width: 80px;
            height: 80px;
            position: relative;
            top: calc(50% - 40px);
            left: calc(50% - 40px);
        }
        .lds-dual-ring:after {
            content: " ";
            display: block;
            width: 64px;
            height: 64px;
            margin: 8px;
            border-radius: 50%;
            border: 6px solid #fff;
            border-color: #fff transparent #fff transparent;
            animation: lds-dual-ring 1.2s linear infinite;
        }
        @keyframes lds-dual-ring {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    }
}